<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="horsege.com.supportdesiginexample">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.screens.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.screens.actionbutton.CFSnackBarActivity"></activity>
        <activity android:name=".ui.screens.cfviewpager.CFViewPagerActivity"></activity>
        <activity android:name=".ui.screens.cfviewpager.CFViewPagerParallexActivity"></activity>
        <activity android:name=".ui.screens.behavior.BottomSheetBehaviorActivity"></activity>
        <activity android:name=".ui.screens.behavior.SwipeDismissBehaviorActivity"></activity>
        <activity android:name=".ui.screens.behavior.CFCustomBehavior1Activity"></activity>

    </application>

</manifest>